@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #000000;
  color: #f6f6f6;
  box-sizing: border-box;
}

.header {
  padding: 2% 0% 0% 15%;
}

.header__menu {
  display:flex;
  /* justify-content: center;
  align-items: center; */
  gap: 80px;
}

.header__menu__link  {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #22d4fd;
  margin: 0 10px;
  padding: 10px 15px;
  text-decoration: none;
}

.header__menu__link:hover {
  color: #007bff;
  cursor: url('../assets/hand-pointer.png'), auto;
}

.titulo-destaque {
  color: #22d4fd;
}

.presentacion {
  display: flex;
  align-items: center;
  padding: 6% 15%;
  justify-content: space-between;
}

h1 {
  text-align: center;
  align-items: center;
}

.presentacion__contenido__titulo {
  font-size: 36px;
  font-family: "Krona One", serif;
}

.presentacion__contenido__texto {
  font-size: 24px;
  font-family: "Montserrat", serif;
}

.presentacion__contenido {
  width: 615px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.presentacion__enlaces {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.presentacion__enlaces__subtitulo {
  font-family: 'Krona One', sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #f6f6f6;
}

.presentacion__enlaces__link {
  width: 378px;
  text-align: center;
  text-decoration: none;
  padding: 21.5px 0;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #f6f6f6;
  border: 2px solid #22d4fd;
  display: flex;
  justify-content: center;
  gap: 16px;
}

.presentacion__enlaces__link:hover {
  background-color: #272727;
  border-color: #0000FF;
  cursor: url('../assets/hand-pointer.png'), auto;
}

img:hover {
  cursor: url(http://www.rw-designer.com/cursor-extern.php?id=37606), auto;
}

.footer {
  background-color: #22d4fd;
  padding: 24px;
  color: #000000;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 400;
}

/* .montserrat-<uniquifier> {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */


/* .open-sans-<uniquifier> {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} */

/* .krona-one-regular {
  font-family: "Krona One", serif;
  font-weight: 400;
  font-style: normal;
} */
